# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
#load csv into dataframe
load_csv = "cities.csv"
city_df = pd.read_csv(load_csv)
city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Salalah,0,OM,1618515572,78,17.0151,54.0924,80.60,5.75
1,Gaurnadi,100,BD,1618515707,71,22.9667,90.2333,79.99,6.24
2,Littlehampton,20,GB,1618515450,61,50.8069,-0.5378,45.00,11.50
3,Buala,10,SB,1618515707,81,-8.1450,159.5921,79.56,2.13
4,Longonjo,100,AO,1618515708,85,-12.9067,15.2533,64.62,1.39

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
#Store lat and lng as locations
location = city_df[["Lat", "Lng"]]
humidity_rate = city_df["Humidity"]

In [11]:
#Create a heatmap
fig = gmaps.figure()

#Create heat layer
heat_layer = gmaps.heatmap_layer(location, weights=humidity_rate,
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

#Add layer
fig.add_layer(heat_layer)

#plt.savefig("vacationheatmap.png")

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
#Create new DataFrame fitting weather criteria
#Max temperature lower than 80 degrees but higher than 70
#Wind speed less than 10 mph.
#Zero cloudiness

narrowed_city_df = city_df.copy()
narrowed_city_df = narrowed_city_df[narrowed_city_df['Max Temp'] >= 70]
narrowed_city_df = narrowed_city_df[narrowed_city_df['Max Temp'] <= 80]
narrowed_city_df = narrowed_city_df[narrowed_city_df['Wind Speed'] <= 10]
narrowed_city_df = narrowed_city_df[narrowed_city_df['Cloudiness'] == 0]
narrowed_city_df = narrowed_city_df.dropna()
narrowed_city_df = narrowed_city_df.reset_index()
narrowed_city_df

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,93,Buin,0,CL,1618515733,31,-33.7333,-70.7500,78.80,5.75
1,212,Saint-Philippe,0,RE,1618515768,78,-21.3585,55.7679,77.00,5.75
2,276,Inhambane,0,MZ,1618515788,83,-23.8650,35.3833,71.60,5.84
3,416,Umluj,0,SA,1618515832,42,25.0213,37.2685,78.64,6.26
4,422,Saint-Joseph,0,RE,1618515834,78,-21.3667,55.6167,77.00,5.75
5,531,Saint-Pierre,0,RE,1618515866,78,-21.3393,55.4781,77.00,5.75

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure